name: Publish Javadoc

on:
  push:
    #branches:
    #  - main

jobs:
  publish-javadoc:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy JavaDoc
        uses: MathieuSoysal/Javadoc-publisher.yml@v2.0.4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          java-version: 17
          target-folder: doc
